*{
    margin: 0;
    padding: 0;
}

.wrapper{
   top: 0px;
   left: 0px;
   width: 1560px;
   height: 1660px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   opacity: 1;
}

/* navbar style */

.navbar .logo{
    left: 15px;
    top: 6px;
    width: 73px;
    height: 54px;
}

li{
    display: inline-block;
    list-style: none;   
}
.menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.menu li .first{
top: 21px;
left: 706px;
width: 75px;
height: 20px;
text-align: right;
color: #ffffff;
opacity: 1;
letter-spacing: 0px;

}
.menu li .two{
    
    top: 21px;
    left: 828px;
    width: 129px;
    height: 20px;
    text-align: right;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.menu li .three{
    margin-left: 27px;
    margin-right: 35px;
    top:21px;
    left: 998px;
    width: 258px;
    height: 20px;
    text-align: right;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.menu li .four{
    
    top: 21px;
    left: 1313px;
    width: 39px;
    height: 19px;
    text-align: right;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.menu li .five{
    top:21px;
    left: 1405px;
    width: 122px;
    height: 19px;
    text-align: right;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.rectangle1{
    background: #525252 0% 0% no-repeat padding-box;
    height: 64px;
    width: 1560px;
}
.box{
   top: 12px;
   left: 689px;
   width: 111px;
   height: 40px;
   background: #29626D 0% 0% no-repeat padding-box;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
   color: #ffffff;
   opacity: 1;
}
.box-two{
   margin-left: 10px;
   top: 12px;
   left: 810px;
   width: 161px;
   height: 40px;
   background: #00607200 0% 0% no-repeat padding-box;
   border: 1px solid #FFFFFF80;
   color: #ffffff;
   border-radius: 20px;
   opacity: 1;
}

.box-three{
    top: 12px;
    left: 1291px;
    width: 83px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}
.box-four{
    margin-left: 10px;
    top: 12px;
    left: 1384px;
    width: 161px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}
/* Banner Image Fit */
.banner{
    height: 370px;
    width: 1560px;
}

/* Title Style */

.title{
    margin-top: 40px;
    margin-left: 603px;
    width: 354px;
    height: 43px;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}
.title h1{
    font-size: 25px;
    color: #4F4F4F;
}

.row .line-1{
    margin-top: 14px;
    margin-left: 700px;
    width: 62px;
    height: 1px;
    text-align: center;
    background: #CCCCCC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.row .line-2{
    margin-top: 14px;
    margin-left: -260px;
    width: 62px;
    height: 1px;
    text-align: center;
    background: #CCCCCC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.row img{
    margin-left: 240px;
    width: 24px;
    height: 25px;
    opacity: 1;
}

.content{
    margin-top: 35px;
    margin-left: 284px;
    width: 992px;
    height: 264px;
    text-align: center;
    letter-spacing: 0px;
    color: #646464;
    opacity: 1;
}
.content p,
.text p{
    font-size: 17px;
}
.text{
    margin-top: 35px;
    margin-left: 284px;
    width: 992px;
    height: 283px;
    text-align: center;
    letter-spacing: 0px;
    color: #646464;
    opacity: 1;
}

/* Footer style */


.footer p{
    top: 1478px;
    margin-left: 685px;
    width: 190px;
    height: 21px;
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0px;
    color: #353548;
    opacity: 1;
}
.footer .box-one{
    top: 1515px;
    margin-left: 614px;
    width: 233px;
    height: 40px;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    opacity: 1;
}
.footer .box-one .input{
    top: 1526px;
    width: 80px;
    height: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    text-decoration: none;
}
.footer .save{
    top: 1515px;
    left: 858px;
    width: 88px;
    height: 40px;
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}
.footer .save a{
    text-decoration: none;
    color: white;
}
.footer{
    margin: 55px 0;
    
}
.end{
    top: 1608px;
    left: 0px;
    width: 1560px;
    height: 195px;
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.end .flex{
    display: flex;
}
.end img{
    margin-top: 20px;
    margin-left: 115px;
    width: 120px;
    height: 92px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.end .nav{
    margin-top: 62px;
    margin-left: 446px;
    width: 582px;
    font-size: 12px;
    height: 44px;
    text-align: left;
    letter-spacing: 0px;
    color: #F1F1F1;
    opacity: 1;
}
.end .nav .two{
    padding-left: 30px;
}
.end .media-icons .facebook{
    margin-top: 61px;
    left: 1388px;
    width: 9px;
    height: 18px;
    opacity: 1;
}
 .end .media-icons{
    display: flex;
}
.end .media-icons .instagram{
    margin-top: 61px;
    left: 1417px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    opacity: 1;
}
.end hr{
    top: 1739px;
    margin-left: 120px;
    width: 1320px;
    height: 1px;
    background: #424242 0% 0% no-repeat padding-box;
    opacity: 1;
}
.end .copy{
    top: 1765px;
    margin-left: 536px;
    width: 493px;
    height: 16px;
    color: #F1F1F1;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
