*{
    margin: 0;
    padding: 0;
}

.wrapper{
   top: 0px;
   left: 0px;
   width: 1560px;
   height: 2157px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   opacity: 1;
}

/* navbar style */

.navbar .logo{
    left: 15px;
    top: 6px;
    width: 73px;
    height: 54px;
}

li{
    display: inline-block;
    list-style: none;   
}
.menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.menu li .first{
top: 21px;
left: 706px;
width: 75px;
height: 20px;
text-align: right;
color: #ffffff;
opacity: 1;
letter-spacing: 0px;

}
.menu li .two{
    
    top: 21px;
    left: 828px;
    width: 129px;
    height: 20px;
    text-align: right;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.menu li .three{
    margin-left: 27px;
    margin-right: 35px;
    top:21px;
    left: 998px;
    width: 258px;
    height: 20px;
    text-align: right;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.menu li .four{
    
    top: 21px;
    left: 1313px;
    width: 39px;
    height: 19px;
    text-align: right;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.menu li .five{
    top:21px;
    left: 1405px;
    width: 122px;
    height: 19px;
    text-align: right;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.rectangle1{
    background: #525252 0% 0% no-repeat padding-box;
    height: 64px;
    width: 1560px;
}
.box{
   top: 12px;
   left: 689px;
   width: 111px;
   height: 40px;
   background: #29626D 0% 0% no-repeat padding-box;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
   color: #ffffff;
   opacity: 1;
}
.box-two{
   margin-left: 10px;
   top: 12px;
   left: 810px;
   width: 161px;
   height: 40px;
   background: #00607200 0% 0% no-repeat padding-box;
   border: 1px solid #FFFFFF80;
   color: #ffffff;
   border-radius: 20px;
   opacity: 1;
}

.box-three{
    top: 12px;
    left: 1291px;
    width: 83px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}
.box-four{
    margin-left: 10px;
    top: 12px;
    left: 1384px;
    width: 161px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}
/* Banner Image Fit */
.banner{
    height: 370px;
    width: 1560px;
}



/* Prices Section Style */

.contact{
    margin-top: 31px;
    margin-left: 504px;
    width: 553px;
    height: 423px;
    opacity: 1;
}
.contact h1{
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1
}
.contact img{
    margin-top: 9px;
    margin-left: 263px;
    width: 24px;
    height: 25px;
    opacity: 1;
}
.contact .flex{
    display: flex;
    
}
.contact .flex .location{
    margin-top: 50px;
    margin-left: -116px;
    width: 34px;
    height: 54px;
    opacity: 1;
}
.contact .flex .mobile{
    margin-top: 50px;
    margin-left: 342px;
    width: 44px;
    height: 50px;
    opacity: 1;
}
.contact .flex .msg{
    margin-top: 50px;
    margin-left: 342px;
    width: 61px;
    height: 50px;
    opacity: 1;
}
.contact .row .txt-1 p{
    margin-top: 20px;
    margin-left: -215px;
    width: 237px;
    height: 73px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
}
.contact .row .txt-2 p{
    margin-top: 20px;
    margin-left: -25px;
    width: 237px;
    height: 73px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
}
.contact .row .txt-3 p{
    margin-top: 20px;
    margin-left: 180px;
    width: 237px;
    height: 73px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
}
hr{
    width: 1140px;
    height: 1px;
    margin-left: -300px;
}

/* Get In Touch Form */


.touch h1{
    margin-top: -10px;
    margin-left: 656px;
    width: 248px;
    height: 34px;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
}

.touch #fname{
    margin-top: 20px;
    margin-left: 474px;
    width: 299px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    opacity: 1;
}
.touch #lname{
    margin-top: 20px;
    margin-left: 20px;
    width: 299px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    opacity: 1;
}
.touch #email{
    margin-top: 20px;
    margin-left: 20px;
    width: 299px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    opacity: 1;
}
.touch #mobile{
    margin-top: 15px;
    margin-left: 474px;
    width: 299px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    opacity: 1;
}
.touch select{
    margin-top: 15px;
    margin-left: 474px;
    width: 614px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    opacity: 1;
}
.touch textarea{
    margin-top: 15px;
    margin-left: 474px;
    width: 614px;
    height: 146px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    opacity: 1;
}
.touch input,select,textarea{
    font-size: 12px;
    padding-left:15px;
}
.touch .submit{
    margin-left: 699px;
    margin-top: 15px;
    width: 163px;
    height: 46px;
    background: #1D7A8C;
    border-radius: 23px;
    opacity: 1;
}
.touch .submit a{
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
}

/* google map */

.map .area{
    margin-top: 80px;
    left: 0px;
    width: 1560px;
    height: 400px;
    opacity: 1;
    position: absolute;
}
.map .pin{
    margin-top: 256px;
    margin-left: 706px;
    position: relative;
    width: 46px;
    height: 67px;
    opacity: 1;
}



/* Footer style */


.footer p{
    margin-top: 225px;
    margin-left: 685px;
    width: 190px;
    height: 21px;
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0px;
    color: #353548;
    opacity: 1;
}
.footer .box-one{
    top: 1515px;
    margin-left: 614px;
    width: 233px;
    height: 40px;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    opacity: 1;
}
.footer .box-one .input{
    top: 1526px;
    width: 80px;
    height: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    text-decoration: none;
}
.footer .save{
    top: 1515px;
    left: 858px;
    width: 88px;
    height: 40px;
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}
.footer .save a{
    text-decoration: none;
    color: white;
}
.footer{
    margin: 55px 0;
    
}
.end{
    top: 1608px;
    left: 0px;
    width: 1560px;
    height: 195px;
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.end .flex{
    display: flex;
}
.end img{
    margin-top: 20px;
    margin-left: 115px;
    width: 120px;
    height: 92px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.end .nav{
    margin-top: 62px;
    margin-left: 446px;
    width: 582px;
    font-size: 12px;
    height: 44px;
    text-align: left;
    letter-spacing: 0px;
    color: #F1F1F1;
    opacity: 1;
}
.end .nav .two{
    padding-left: 30px;
}
.end .media-icons .facebook{
    margin-top: 61px;
    left: 1388px;
    width: 9px;
    height: 18px;
    opacity: 1;
}
 .end .media-icons{
    display: flex;
}
.end .media-icons .instagram{
    margin-top: 61px;
    left: 1417px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    opacity: 1;
}
.end hr{
    top: 1739px;
    margin-left: 120px;
    width: 1320px;
    height: 1px;
    background: #424242 0% 0% no-repeat padding-box;
    opacity: 1;
}
.end .copy{
    top: 1765px;
    margin-left: 536px;
    width: 493px;
    height: 16px;
    color: #F1F1F1;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
